<!DOCTYPE html>
<html lang="en">
    <%- include('block/head') %>
    <body>
        <%- include('block/face') %>
        <%- include('block/myMoney') %>
        <%- include('block/memory') %>
        <%- include('block/help') %>
        <%- include('block/instruction') %>
        <%- include('block/commit') %>
        <%- include('block/face') %>
        <%- include('block/script') %>
    </body>
</html>
